.padre {
    background-color: yellow;
    padding: 10px;
    display: grid;
    grid-template-areas: 
        "titulo titulo titulo titulo"
        "menu menu menu menu"
        "imagenes imagenes video video"
        "imagenes imagenes video video"
        "imagenes imagenes caja caja"
        "publicidad1 publicidad1 publicidad2 publicidad2"
        "footer footer footer footer";
    gap: 10px;
}
.titulo { 
  grid-area: titulo; 
  background: #d65a5a; 
  padding: 10px; 
  text-align: center; 
}
.menu { 
  grid-area: menu; 
  background: #5a75d6; 
  padding: 10px; 
  text-align: center; 
}
.imagenes { 
  grid-area: imagenes; 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 5px; 
}
.imagenes div { 
  background: #69b569; 
  padding: 20px; 
  text-align: center; 
}
.video { 
  grid-area: video; 
  background: #6bd66b; 
  padding: 20px; 
  text-align: center; 
}
.caja { 
  grid-area: caja; 
  display: grid; 
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px; 
}
.caja .caja-grande {
  background: #d69c5a;
  padding: 20px;
  text-align: center;
  grid-row: span 6;
}
.caja .caja-pequena1 {
  background: #d69c5a;
  padding: 20px;
  text-align: center;
}
.caja .caja-pequena2 {
    background: #d69c5a;
    padding: 20px;
    text-align: center;
    height: px;
    width: 20px;
    margin-right: 10%;
  }
.caja .caja-pequena3 {
    background: #d69c5a;
    padding: 20px;
    text-align: center;
    height: 20px;
    width: 40px;
    margin-left: 58%;
}
.caja .caja-pequena4 {
    background: #d69c5a;
    padding: 20px;
    text-align: center;
    height: 20px;
    width: 40px;
    margin-left: 58%;
}
.caja .caja-pequena5 {
    background: #d69c5a;
    padding: 20px;
    text-align: center;
    height: 20px;
    width: 40px;
    margin-left: 58%;
}
.publicidad1 { 
  grid-area: publicidad1; 
  background: #d65a5a; 
  padding: 10px; 
  text-align: center; 
}
.publicidad2 { 
    grid-area: publicidad2; 
    background: #d65a5a; 
    padding: 10px; 
    text-align: center; 
  }
.footer { 
  grid-area: footer; 
  background: #9c5ad6; 
  padding: 10px; 
  text-align: center; 
}
